body{
    background-color: #077da7;

}
.body-dashboard{
    background: linear-gradient(0deg, #010608 10%, #077da7 30%)
}


/* HOME */

/* BACKGROUND*/
.background-home {
    background: linear-gradient(0deg, #c7e9ee 10%, #60c0d1 20%);
    width: 100%;
}

.background {
    background-color: #c7e9ee;
    width: 100%;
}


/* CONTAINER */
.info-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 0;
}




/* FLEX */
.flex-container {
    display: flex;
    align-items: center;
}
.flex-content {
    margin-left: 10px;
}


/* TEXT */
.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
    padding-left: 40px;
}

.text-justify {
    text-align: justify;
    padding: 50px;
}


/* FONT */
.font-App {
    font-size: 70px;
}
.font-Feature {
    font-size: 40px;
}
.font-right {
    padding-left: 50px;
}


/* TITLE & CONTENT */
.title {
    /* font-size: 70px; */
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.content {
    font-size: 18px;
    font-weight: 500;
}


/* FLOW */
.content-flow {
text-align: left;
}



/* CARD */
.card-image-about {
    width: 40%;
    height: 40%;
    margin: 0 auto;
}

.card-image-feature {
    width: 40%;
    height: 40%;
    margin: 20px;
}

.content-flow {
    text-align: left;
}
.card-image-flow {
    width: 40px;
    height: auto;
    margin-right: 20px;
}


.highlight {
    color: #077da7;
}

#p-datatable{
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    padding: 20px;
    margin-top: 20px;
}


.p-datatable-header{
    background-color: #077da7;
    color: #fff;
    padding: 10px;
    border-radius: 5px 5px 0 0;
}





.b-to-dashboard{
    font-size: 20px;
}

#inputDropdown {
    color : #06b6d4;
    background-color: white;
    font-family: 'Roboto', sans-serif;
}
#itemDropdown {
    color : #06b6d4;
    background-color: white;
}

#itemDropdown:hover {
    color : white;
    background-color: #06b6d4;
}

#listDropdown {
    color : #06b6d4;
    background-color: white;
}

#rootDropdown {
    color : #06b6d4;
    background-color: white;
}


#triggerDropdown {
    color : white;
}


#modal-header {
    background-color: white;
    color: #077da7;
}

#modal-content {
    background-color: white;
    color: #077da7;
}

#header-action-accordion {
    background-color: white;
    color: #077da7;
}

#header-accordion {
    background-color: white;
    color: #077da7;
}

#toggleable-content-accordion {
    background-color: white;
    color: #077da7;
}

#content-accordion {
    background-color: white;
    color: #077da7;
}

#root-calendar {
    background-color: white;
    color: #077da7;
}

#input-calendar {
    background-color: white;
    color: #077da7;
}

#inputText-prime {
    background-color: white;
    color: #077da7;
}
#inputPassword {
    background-color: white;
    color: #077da7;
}

#input-number {
    background-color: white;
    color: #077da7;
}