body{
    background-color: #077da7;

}
.body-dashboard{
    background: linear-gradient(0deg, #010608 10%, #077da7 30%)
}

#p-datatable{
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    padding: 20px;
    margin-top: 20px;
}
.p-datatable-header{
    background-color: #077da7;
    color: #fff;
    padding: 10px;
    border-radius: 5px 5px 0 0;
}